.dark-mode-logout-dropdown {
    margin-right: 3em;

}

.dropdown-toggle {
    min-width: 120px; 
}

.dropdown-menu {
    margin-top: 0.25em;
    width: fit-content;
}


.top-section {
    background: var(--bs-light-bg-subtle);
    box-shadow: 0 0 10px rgba(var(--bs-dark-rgb), 0.1); 
    display: flex;
    height: 120%;
    opacity: .99;
    padding: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
    align-items: center;
    justify-content: space-between;


}

.inner-container{
    display: flex;
}

.active {
    padding: 5px;
    box-shadow: 0 0 10px rgba(var(--bs-secondary-rgb)); 
}

.search-bar {
    width: 200px;
    flex: 0 0 auto; 
    height: 40px;
    border-radius: 15px;
    margin-right: 10px;
    border-color: aliceblue;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 4%;
    margin-right: 10px;
}

.top-section img {
    width: 40px;
    height: 40px;
}

.feedpages {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}
