/* feed.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


.container {
    max-width: 600px;
    margin: 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  }
  
  
  

.card {
    box-shadow: 0 0 10px rgba(61, 173, 104, 0.1);
    margin-bottom: 20px; /* Increased margin for more space */
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    position: relative;
     /* Set position to relative for absolute positioning of likes */
}

.post-input-section {
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(61, 173, 104, 0.1);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}


#postContent {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.add-post-button {
    background-color: #4267B2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-post-button:hover {
    background-color: #3a589e;
}

.post-input-section .post-date {
    color: #777;
    font-size: 12px;
}
