/* menu.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu-section {
  border-bottom: 1px solid #2d58cc69;
  padding: 10px;
  background-color: #3a589e;
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center;
}

/* Adjust the input style for the search bar */
.menu-section input {
  margin-right: 10px; /* Add margin to the right for spacing */
}

.profile-image2 {
  width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: auto;  /* Auto margin to push it to the right */
    margin-right: 10px; /* Adjust margin for spacing */
    margin-top: 10px;
}
