.sideBarRow{
    display: flex;
    flex-direction: row;
    margin-left: 17px;
    padding-top: 8px;
    margin-right: 160px;
    width:200px;
    transition: 100ms ease-out;
    cursor: pointer;

}

.div.sideBarRow{
    width:120px;
}

.sideBarRow:hover{
    background-color: rgb(226, 225, 224);
    border-radius: 10px;   
}
.sidebarRow__icon.avatar{
    border-radius: 500px;
}
.sidebarRow__icon{
    height:30px;
    margin-left:10px ;
}
.sideBarRow_title{
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    margin-top: 4px;
    color: rgb(114, 120, 126);
    margin-left: 10px;
}