.sideBarRow {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-left: 17px;
    margin-right: 160px;
    padding-top: 8px;
    transition: 100ms ease-out;
    width: 200px;

    &:hover {
        background-color: rgb(226, 225, 224);
        border-radius: 10px;
    }

    &.disabled {
        cursor: auto;
        pointer-events: none;
        &:hover {
            background: unset;
            border-radius: unset;
        }
    }

    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    img {
        height: 30px;
        margin-left: 10px;
    }

    h2 {
        font-weight: 500;
        font-size: 15px;
        margin-top: 4px;
        color: rgb(114, 120, 126);
        margin-left: 10px;
    }
}
