.App {
  text-align: center;
}

  [data-bs-theme=dark]{
    
    .btn-info{
      --bs-btn-bg:rgb(47, 49, 75);
      --bs-hover-bg:rgb(223, 233, 247);
    }
  }
  [data-bs-theme=light]{
    
    .btn-info{
      --bs-btn-bg:rgb(124, 171, 233);
      --bs-btn-hover-bg:rgb(223, 233, 247);
    }
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
