.profile-top-section {
    background: var(--bs-secondary-bg-subtle);
    width: 100%;

    h1 {
        text-align: center;
    }
}

.image-container {
    background: var(--bs-primary-bg-subtle);
    border-radius: 0 0 10px 10px;
    margin: 0 15%;
    padding-top: 190px;

    img {
        border-radius: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        height: 160px !important;
        margin-bottom: -20px;
        margin-left: calc(50% - 160px / 2);
        width: 160px !important;
    }
}

.nav-links {
    gap: 2em;

    a {
        border-radius: 5px;
        color: var(--bs-secondary-color);
        padding: 5px;

        &:hover {
            background: var(--bs-tertiary-bg);
        }

        &.selected {
            color: var(--bs-primary-text-emphasis);            border-radius: 0px !important;
            border-bottom: 3px solid var(--bs-focus-ring-color);
        }
    }
}

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* Style links to remove underlines and make them black */
    a {
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
    }

}

.rect {
    background-color: #c0c1c2;
    border-radius: 10px;
    border: none;
    padding: 0.5em 1em;
    margin: 0.5em;

    img {
        height: 20px;
        width: 20px;
        margin-right: 10px;
        filter: invert(100%);
    }
}

.friend-item {
    padding: 20px 10px;
    margin-bottom: 100px;
}
