.profileHeader__left ul {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-left: 10px;
    list-style-type: none;
}

.profileHeader__left ul li {
    margin: 0;
    font-size: 15px;
    color: #b0b3b8;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
}



.profileHeader__options a p {
    display: inline;
    margin-left: 5px;
}

/* Style links to remove underlines and make them black */
.profileHeader__options a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    &:hover {
        color: #8b7d7d;
    }
}


.profileHeader__left li:hover {
    background-color: #b9b9b9 !important;
}

.profileHeader__left ul .selected {
    color: #2E89FF;
    border-radius: 0px !important;
    border-bottom: 3px solid #2E89FF;
    margin-left: 45%;
    margin-bottom: 0px !important;
}

.profileHeader__left ul .selected:hover {
    background-color: transparent !important;
}
