.profileSidebar {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex: 0.4;
    margin-bottom: 30px;
}

.photos {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-right: 10px;
}

.posts2 {
    display: flex;
    padding: 5px;
    background-color: #c8c9ca;
    border-radius: 10px;
    margin-left: 40%;
    margin-bottom: 10px;
    
}

.posts2 h1 {
    font-size: 20px;
    color: #e4e6eb;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.policies.profile {
    margin-left: 50%;
}

.hr.profile {
    margin-left: 50%;
}

.posts2 {
    display: flex;
    padding: 5px;
    background-color: #c8c9ca;
    border-radius: 10px;
    margin-left: 40%;
    margin-bottom: 10px;
    width: 45%;
}

.friends-link {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: auto; /* Aligns link to the right */
}

.link-text {
    text-decoration: none;
    color: blue;
    margin-left: 5px;
}